a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

a:hover {
    color: royalblue;
}

#bodyBackImg {
    background-image: url("../images/web.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.container {
    min-height: 800px !important;
}

.project-tile {
    margin: 20px !important;
    padding: 10px;
    box-shadow: 0px 4px 10px gray, 
        -5px 4px 15px gray, 5px 4px 15px gray;
}

.row {
    text-align: center;
}

.normalRow {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    padding: 20px;
}

.icon {
    width: 100px;
}

.progress {
    height: 30px !important;
    font-size: 15px;
    background-color: white;
    border: 2px solid rgba(171, 214, 244, 0.9);
}

.progress-bar {
    background-color: rgba(171, 214, 244, 0.9) !important;
    color: black;
}

@media only screen and (min-width: 800px){

    .fwImg {
        width: 100%;
        border-radius: 1.5%;
        border: 3px solid rgba(171, 214, 244, 0.9);
    }

    .fwP {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: inherit;
    }

    #goP {
        min-height: 300px;
    }
    
    #goP button {
        margin-top: 300px;
        color: rgba(140, 218, 255, 1);
        font-size: 20px;
        font-family: 'Righteous', cursive;
        background-color: rgba(171, 214, 244, 0.1);
        box-shadow: none;
        border: .3rem solid rgba(171, 214, 244, 0.9);
        padding: 15px;
    }

    #goP button:hover {
        background-color:  rgba(140, 218, 255, 0.1);
        border: .3rem solid  rgba(140, 218, 255, 1);
    }
    
    #introP {
        position: relative;
        text-align: center;
        height: auto;
        color: rgba(140, 218, 255, 1);
        font-size: 30px;
        font-family: 'Righteous', cursive;
    }

    #introImg {
        position: relative;
        width: 250px;
        border-radius: 50%;
        border: .3rem solid rgba(171, 214, 244, 0.9);
    }
    
    #myContent {
        min-height: 860px;
        width: 100%;
        text-align: center;
    }
    
    #navbarNav {
        padding: 0px 20px !important;
        margin: 0px 15px !important;
        height: 100px;
    
    }
    
    #navBar {
        background-color: rgba(171, 214, 244, 1) !important;
        font-family: 'Righteous', cursive !important;
    }
    
    #brandImg {
        width: 100px; 
        height: 100px; 
        border-radius: 50%;
        border: 3px solid rgba(0, 0, 0, 0.5);
        margin-left: 30px;
    }
    
    footer {
        position: fixed;
        width: 100%;
        bottom: 0px;
        font-family: 'Righteous', cursive;
        text-align: center;
        padding-top: 2px;
        background-color: rgba(171, 214, 244, 1);
    }
}

/*MOBILLLLEEE*/
@media only screen and (max-width: 800px) {

    .fwImg {
        width: 100%;
    }

    .container {
        min-height: 620px !important;
    }

    #introImg {
        display: none;
        visibility: hidden;
    }

    #goP {
        min-height: 300px;
    }
    
    #goP button {
        color: rgba(140, 218, 255, 1);
        font-size: 20px;
        font-family: 'Righteous', cursive;
        background-color: rgba(171, 214, 244, 0.1);
        box-shadow: none;
        border: .3rem solid rgba(171, 214, 244, 0.9);
        padding: 15px;
    }

    #introP {
        position: relative;
        text-align: center;
        height: auto;
        color: rgba(140, 218, 255, 1);
        font-size: 30px;
        font-family: 'Righteous', cursive;
        word-wrap: normal;  
    }

    #myContent {
        min-height: 700px;
        width: 100%;
        text-align: center;
    }

    #navbarNav {
        padding: 0px 5px !important;
        margin: 0px 10px !important;
    }

    #navBar {
        background-color: rgba(171, 214, 244, 1) !important;
        font-family: 'Righteous', cursive !important;
    }

    #brandImg {
        width: 70px; 
        height: 70px; 
        border-radius: 50%;
        border: 3px solid rgba(0, 0, 0, 0.5);
    }

    footer {
        font-family: 'Righteous', cursive;
        text-align: center;
        padding-top: 2px;
        background-color: rgba(171, 214, 244, 1);
    }

}

/*PROJECT CSS*/